---
title: About Tip
description: 
keywords:
layout: sub-page
permalink: "about"
banner-image: assets/forms/aboutusbanner.jpg
video-id: Uwzo9UIR2io
---
    <!-- Video Section -->
    <div class="container space-2">
        <div class="row justify-content-sm-center">
            <div class="col-lg-9 col-xl-8">

                <!-- Video Block -->
                <div id="youTubeVideoPlayerExample1" class="u-video-player">
                    <!-- Cover Image -->
                    <img class="img-fluid u-video-player__preview editable"
                         src="assets/img/AboutUs_VideoStill_Final.jpg" alt="Image">
                    <!-- End Cover Image -->

                    <!-- Play Button -->

                    <a class="js-inline-video-player u-video-player__btn u-video-player__centered" href="javascript:;"
                       data-video-id="{{page.video-id}}"
                       data-parent="youTubeVideoPlayerExample1"
                       data-is-autoplay="true"
                       data-target="youTubeVideoIframeExample1"
                       data-classes="u-video-player__played">
                    <span class="u-video-player__icon u-video-player__icon--lg text-primary">
                    <span class="fas fa-play u-video-player__icon-inner"></span>
                    </span>
                    </a>
                    <!-- End Play Button -->

                    <!-- Video Iframe -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <div id="youTubeVideoIframeExample1"></div>
                    </div>
                    <!-- End Video Iframe -->
                </div>
                <!-- End Video Block -->
            </div>
        </div>
    </div>
    <!-- End Video Section -->
    <!-- End Hero Section -->
    <div class="gradient-half-warning-v1 text-white text-center" id="employment">
        <div class="container space-1">
                <span class="h4 d-block d-lg-inline-block font-weight-light mb-lg-0 text-primary editable">
                  <span class="text-primary font-weight-semi-bold">Join Our Team</span> – Employment Opportunities.
                </span>
                <br/>
                <br/>
            <a class="btn btn-sm btn-white text-primary transition-3d-hover font-weight-normal ml-3" data-bs-target="#opportunities" aria-label="Toggle navigation" aria-expanded="false" aria-controls="opportunities"
               href="#opportunities">Learn More</a>
        </div>
    </div>
    <!-- End Join Our Team -->

    <!-- Team Section -->
    <div class="container space-2 space-md-2" id="team">
        <!-- Title -->
        <div class="w-lg-80 mx-lg-auto">
            <div class="mb-11">
                <h2 class="h1 text-primary immunizetitle text-center font-weight-light editable">Our <span
                        class="font-weight-bold">Team</span></h2>
                
                <p class="editable">The Immunization Partnership is made up of an outstanding team of knowledgeable individuals whose backgrounds comprise public health, policy, law, and finance expertise. We value the collaboration of distinct ideas in an effort to launch advocacy initiatives, establish long-lasting partnerships, support immunization best practices, and conduct grassroots community education programs. We are all committed to the mission of eradicating vaccine-preventable diseases.</p>
                
            </div>
        </div>
    </div>
    <!-- Team Section -->
    <div class="container">
        <!-- Team Carousel -->

        <div class="row justify-content-center">
            {% for item in site.data.staff %}
                <!-- Start Staff Card -->
                <div class="col-md-4 mb-4 p-4">
                    <div class="card border-0 shadow-sm mt-n6">
                        <div class="card-body text-center p-4">
                            <a href="#{{item.Name | downcase | truncatewords:1, "" }}{{forloop.index}}" data-modal-target="#{{item.Name | downcase | truncatewords:1, "" }}{{forloop.index}}" data-modal-effect="blur">
                                <h3 class="h5 mb-1">{{item.Name}}</h3>
                            </a>
                            <p class="font-size-1 mb-0 green">{{item.Position}}</p>
                        </div>
                    </div>
                </div>
                <!-- End Staff Card -->
                <!-- Start Staff Modal -->
                <div id="{{item.Name | downcase | truncatewords:1, "" }}{{forloop.index}}" class="js-modal-window u-modal-window window-lg" style="width: 85%;">
                    <div class="card">
                        <header class="card-header bg-light py-3 px-5">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4 class="modal-title">{{item.Name}}<br/> <a class="text-primary"
                                                                               style="font-size: small !important"
                                                                               href="mailto:{{item.Email}}"
                                                                               target="_blank">{{item.Email}}</a></h4>

                                <button type="button" class="close" aria-label="Close"
                                        onclick="Custombox.modal.close();">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        </header>
                        <div class="card-body p-5">
                            <div class="row">
                                <div class="col-12">
                                    <p>{{item.Bio}}</p>

                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <button type="button" class="btn btn-sm btn-soft-secondary transition-3d-hover"
                                    onclick="Custombox.modal.close();">Close
                            </button>
                        </div>
                    </div>
                </div>
                <!-- End Staff Modal -->
            {% endfor %}

            
        </div>
        <!-- Accordion -->
        <div id="committees">
            <div id="board" class="accordion mb-9">
                <!-- Card -->
                <div class="card">
                    <div class="card-header card-collapse" id="cardHeadingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link btn-block justify-content-between collapsed card-btn p-3 tip-bg-blue"
                                    role="button"
                                    data-toggle="collapse"
                                    data-target="#cardOne"
                                    aria-expanded="false"
                                    aria-controls="cardOne">
                                <span class="h5 editable">Board of Directors</span>
                                <span class="card-btn-arrow text-white" style="float: right">
		                            <span class="fas fa-arrow-down small"></span>
		                          </span>
                            </button>
                        </h5>
                    </div>

                    <div id="cardOne" class="collapse" aria-labelledby="cardHeadingOne" data-parent="#board">
                        <div class="card-body px-4">
                            <!-- Board Details -->
                            <h6 class="editable">Executive Committee</h6><br/>
                            <div class="row">
                                {% for item in site.data.board-of-directors %}
                                {% if item.type == 'Executive Committee' %}
                                        <div class="col-sm-4 mb-2 mb-sm-0">
                                            <h4 class="h6 mb-1">{{item.name}}</h4>
                                            <p class="small">
                                                {{item.title}}<br/>
                                               {{item.position}}
                                            </p>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                
                            </div>
                            <!-- End Card Details -->
                            <hr/>
                            <br/>
                            <h6 class="editable">Directors</h6><br/>
                            <div class="row">
                                {% for item in site.data.board-of-directors %}
                                {% if item.type == 'Directors' %}
                                        <div class="col-sm-4 mb-2 mb-sm-0">
                                            <h4 class="h6 mb-1">{{item.name}}</h4>
                                            <p class="small">
                                                {{item.title}}<br/>
                                               {{item.position}}
                                            </p>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-header card-collapse" id="cardHeadingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link btn-block collapsed justify-content-between card-btn p-3 tip-bg-blue"
                                    role="button"
                                    data-toggle="collapse"
                                    data-target="#cardTwo"
                                    aria-expanded="false"
                                    aria-controls="cardTwo">
                                <span class="h5 editable">Scientific Advisory Council</span>
                                <span class="card-btn-arrow text-white" style="float: right">
									<span class="fas fa-arrow-down small"></span>
									</span>
                            </button>
                        </h5>
                    </div>
                    <div id="cardTwo" class="collapse" aria-labelledby="cardHeadingTwo" data-parent="#board">
                        <div class="card-body px-4">
                            <!-- Board Details -->
                            <div class="row">
                                {% for item in site.data.scientific-advisory %}
                                    <div class="col-sm-4 mb-2 mb-sm-0">
                                        <h4 class="h6 mb-1">{{item.name}}</h4>
                                        <p class="small">
                                            {{item.position}}
                                        </p>
                                    </div>
                                {% endfor %}
                            </div>
                            <!-- End Card Details -->
                        </div>
                    </div>
                </div>
                <!-- End Card -->
            </div>
        </div>
        <!-- End Accordion -->
    </div>
    <!-- Start Join Our Team -->
    <div class="gradient-half-warning-v1 text-white text-center" id="employment">
        <div class="container space-1">
                <span class="h4 d-block d-lg-inline-block font-weight-light mb-lg-0 text-primary editable">
                  <span class="text-primary font-weight-semi-bold editable">Strategic Plan Summary for FY 2021 – 2022.</span>
                </span>
            <a class="btn btn-sm btn-white text-primary transition-3d-hover font-weight-normal ml-3 editable"
               href="assets/img/resources/strategic-plan-summary.pdf">Read the summary.</a>
        </div>
    </div>
    <!-- End Join Our Team -->


    </div>
    <!-- End Team Section -->
    </div>

    <div class="container space-2 space-lg-2">
        <!-- Title -->
        <div class="w-lg-50 text-center mx-lg-auto mb-9">
            <h2 class="h1 text-primary immunizetitle text-center font-weight-light editable">Annual and Financial <span
                    class="font-weight-bold">Reports</span></h2>
        </div>
        <!-- End Title -->

        <!-- Reports -->
        <div class="row no-gutters align-items-lg-center mb-8" id="reports">
            <div class="col-lg-7  rounded">
                <div class="text-center py-5 px-4 px-sm-9">
                    <header class="mb-5 d-flex justify-content-center">
                        <div class="col-sm-8 ">
                            <img class="img-fluid rounded shadow shadow-soft editable" src="assets/img/TIP-2021-Annual-Report-1.jpg" alt="Immunize Annual Reports">
                        </div>
                    </header>
                    <p class="editable">FY 2021 Annual Report</p>
                    <a href="assets/img/TIP-2021-Annual-Report.pdf" target="_blank"
                       class="btn btn-secondary btn-wide transition-3d-hover editable">
                        Download
                    </a>
                </div>
            </div>

            <div class="col-lg-5 bg-green rounded">
                <div class="py-11 px-5 px-sm-9">
                    <h2 class="text-white mb-2 immunizetitle pb-3 editable">Past Annual & Financial Reports</h2>
                    <!-- Info -->
                    <ul class="list-unstyled">
                        {% for item in site.data.annual-report %}
                        <li class="media pb-3 justify-content-around">
                        <span class="btn btn-icon btn-xs btn-soft-white rounded-circle mr-3">
                          <span class="fas fa-angle-right btn-icon__inner"></span>
                        </span>
                            <div class="media-body">
                                <a class="text-white-70" href="{{item.file}}"
                                   target="_blank">
                                    {{item.year}}
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                        
                       
                        <li class="media"><a href="/annualreport/" class="text-white-70 mb-0 mt-5 editable">View all
                            Annual & Financial Reports</a></li>
                    </ul>
                    <!-- End Info -->
                </div>
            </div>
        </div>
        <div class="text-center mb-3">
           <a href="https://www.guidestar.org/profile/76-0695612" target="_blank" class="editable"><img src="https://widgets.guidestar.org/TransparencySeal/8203185" class="editable" /></a>
        </div>
        <!-- End Pricing -->
    </div>

    <!-- Start Join Our Team -->
    <div class="gradient-half-warning-v1 text-white text-center" id="opportunities">
        <div class="container space-1">
                <span class="h4 d-block d-lg-inline-block font-weight-light mb-lg-0 text-primary editable">
                  <span class="text-primary font-weight-semi-bold">Join Our Team</span> – Employment Opportunities.
                </span>
            <a class="btn btn-sm btn-white text-primary transition-3d-hover font-weight-normal ml-3 editable"
               href="mailto:careers@immunizeUSA.org">Send your résumé.</a>
        </div>
    </div>
    <!-- End Join Our Team -->

{% for item in site.data.job-listing %}
{% if item.enabled != true %}{% assign hasjobs = false %}{% else %}{% assign hasjobs = true %}{% endif %}
{% endfor %}
{% if hasjobs == true %}
<div class="container space-md-2 space-1">
    <div class="row text-center">
        <div class="col-md-12">
            <span class="h1 text-primary immunizetitle font-weight-semi-bold editable">Current Job Postings</span>
                {% for item in site.data.job-listing %}
                <span class="h4 font-weight-semi-bold pt-4 d-block">{{item.Job_Title}}</span>
                <a href="{{item.file}}" target="_blank" class="h6 text-black">Job Details</a>
                <br/>
                {% endfor %}
        </div>
    </div>
</div>
{% endif %}