---
title: The Immunization Partnership
description: To eradicate vaccine preventable diseases by educating the community, advocating for evidence-based public policy and supporting immunization best practices.
keywords: 
layout: default
permalink: "/"
call-to-action:
  text: Texas strength depends on the health of its citizens. we work everyday for a stronger Texas. Join Us.
  image: /assets/img/vaccination-with-patient-doctor.jpg
  url: /about/
  button-text: Call to Action
main-topic:
  title: Top issue title here
  image: /assets/img/Advocacy_HowtoAdvocate_Final.jpg
  url: /about/
---
    <!-- Hero v1 Section -->
    <div class="u-hero-v1">
        <!-- Hero Carousel Main -->
        <div id="heroNav" class="js-slick-carousel u-slick"
             data-autoplay="true"
             data-speed="80000"
             data-adaptive-height="true"
             data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle"
             data-arrow-left-classes="fas fa-arrow-left u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left ml-lg-2 ml-xl-4"
             data-arrow-right-classes="fas fa-arrow-right u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right mr-lg-2 mr-xl-4">   
             {% for item in site.data.home-banner %}
                <div class="js-slide">
                <!-- Slide #1 -->
                <div class="d-lg-flex align-items-lg-center u-hero-v1__main"
                     style="background-image: url({{item.Image}});">
                            <div class="container space-1 space-top-md-2 space-top-lg-2">
                                <div class="row justify-content-center">
                                    <div class="col-md-12 position-relative">
                                      {% if item.Text %}
                                        <h1 style="text-align:{{item.Button_Positions}}" class="immunizetitle text-primary">{{item.Text}}</h1>
                                        {% endif %}
                                        <div class="text-center">
                                          {% if item.Button-Text %}
                                        <a href="{{item.Button-Text}}" class="btn btn-sm btn-primary transition-3d-hover mt-2 btn-pill" {% if item.external-link != true  %}{% else %}target="_blank"{% endif %}>
                                            {{item.Button-Text}}
                                        </a>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                        </div>
                </div>
                </div>
            {% endfor %}
        </div>
        <!-- End Hero Carousel Main -->
    </div>
    <a class="editor-link btn btn-sm btn-warning transition-3d-hover mt-2 float-right btn-pill" href="cloudcannon:collections/_data/home-banner.yml" class="btn"><strong>&#9998;</strong> Edit Banner</a>
    
   {% for item in site.data.homepage-notice %}
   {% if item.Position == 'Below Image' %}
   {% if item.enabled == true %}
            <div class="bg-danger">
                <div class="container space-1">
                    <div class="row align-items-md-center">
                        <div class="col-md-8 mb-7 mb-md-0">
                            <!-- Content -->
                            <div class="media">
                                <div class="media-body banner-message">
                                    {{ item.Text }}
    
                                </div>
                            </div>
                            <!-- End Content -->
                        </div>
    
                        <div class="col-md-4 text-md-right">
                            <!-- Button Link -->
                            <a class="btn btn-warning transition-3d-hover" href="{{ item.Button_Link }}">
                                {{ item.Button_Text }}
                                <span class="fas fa-angle-right ml-2"></span>
                            </a>
                            <!-- End Button Link -->
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% endif %}
    {% endfor %}
    <!-- End Hero Carousel Main -->
    <div class="container">
    <div class="row justify-content-lg-between">
       <div class="col-md-12 mx-md-auto space-1 text-center">
                <h2 class="h1 text-primary immunizetitle text-center font-weight-light editable">We're a voice for Texans who want to prevent disease</h2>
                <p class="editable">Providing access. to vaccines and increasing immunization rates keeps Texans safe from preventable diseases.</p>
        </div>
    <div class="col-md-4 mb-2">
        <!-- Blog Card -->
        <article class="card h-100">
            <img class="card-img-top editable" src="/assets/img/Advocacy_OurAdvocatesStories_Final.jpg" alt="Image Description">
            <div class="card-body p-5 editable">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                <a href="" class="btn btn-sm-wide btn-success btn-pill">How We Connect</a>
            </div>
        </article>
        <!-- End Blog Card -->
    </div>
    <div class="col-md-4 mb-2">
         <!-- Blog Card -->
         <article class="card h-100">
             <img class="card-img-top editable" src="/assets/img/Advocacy_OurAdvocatesStories_Final.jpg" alt="Image Description">
             <div class="card-body p-5 editable">
             
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                 <a href="" class="btn btn-sm-wide btn-success btn-pill">How We Educate</a>
             </div>

         </article>
         <!-- End Blog Card -->
     </div>
     <div class="col-md-4 mb-2">
          <!-- Blog Card -->
          <article class="card h-100">
              <img class="card-img-top editable" src="/assets/img/Advocacy_OurAdvocatesStories_Final.jpg" alt="Image Description">
              <div class="card-body p-5 editable">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                  <a href="" class="btn btn-sm-wide btn-success btn-pill">How We Advocate</a>
              </div>
      
          </article>
          <!-- End Blog Card -->
      </div>
    </div>
    </div>
  
    <!-- Banner -->
    <div class="container-fluid p-0 bg-primary">
       <div class="bg-img-hero" style="background: url({{page.call-to-action.image}}) center center no-repeat;">
       <div class="container space-1">
       <div class="row">
        <div class="w-lg-65 py-8 px-6">
          <p class="lead text-white mb-0 font-size-2">{{page.call-to-action.text}}</p>
        </div>
        <div class="w-lg-35 py-8 px-6">
            <a href="{{page.call-to-action.url}}" class="btn btn-sm btn-primary transition-3d-hover mt-2 float-right btn-pill" tabindex="0">
                 {{page.call-to-action.button-text}}
             </a>
          </div>
       </div>
       </div>
      </div>
    </div>
    <!-- End Banner -->
    <!--Twitter-->
    <div class="container space-2 px-lg-7" style="margin-top: 0% !important">
            <div class="row justify-content-center">
              
               <div class="col-md-6 col-12">
                  <h2 class="h3 text-primary text-left editable font-weight-bold">Latest News</h2>
                 
           {% for post in site.posts limit:1 -%}
           <article class="h-100">
              <div class="">
                 <a href="{{ post.url | absolute_url }}"><h4 class="font-weight-semi-bold immunizetitle text-primary">{{ post.title }}</h4></a>
                  <p class="text-primary">{{ post.content | strip | strip_html | truncatewords:25 }} </p>
              </div>
              <div class=" border-0 py-4">
                      <a href="{{ post.url | absolute_url }}" class="text-primary">Find Out
                          More
                          <small class="fas fa-arrow-right ml-1"></small>
                      </a>
                  </div>
            </article>
           {% endfor %}
            <a class="editor-link btn btn-sm btn-warning transition-3d-hover mt-2 float-right btn-pill" href="cloudcannon:collections/:posts/" class="btn"><strong>&#9998;</strong> Edit Posts</a>
               </div>
               <div class="col-md-6 col-12">
                  <h2 class="h3 text-primary text-left editable font-weight-bold">Hot Spot</h2>
                  <article class="h-100">
                    <div class="">
                       <a href="{{ page.main-topic.url | absolute_url }}"><h4 class="font-weight-semi-bold immunizetitle text-primary">{{ page.main-topic.title }}</h4></a>
                       <img class="card-img-top max-h-225" src="{{ page.main-topic.image }}" alt="Image Description">
                    </div>
                    <div class="border-0 py-4">
                            <a href="{{ page.main-topic.url | absolute_url }}" class="text-primary">Find Out More
                                <small class="fas fa-arrow-right ml-1"></small>
                            </a>
                        </div>
                  </article>
               </div>
            </div>
        </div>

    <script src="https://platform.twitter.com/widgets.js" charset="utf-8" async></script>

   
   {% for item in site.data.homepage-notice %}
    {% if item.Position == 'PopUp' %}
         {% if item.enabled == true %}
            <!-- After Some Time Modal -->
    
            <div id="aftersometimeModal" class="js-modal-window u-modal-window text-center"
                 data-modal-type="aftersometime" data-open-effect="zoomIn" data-close-effect="zoomOut"
                 data-breakpoint="1000" data-speed="500"
                 style="width: 80%">
                <div class="card">
                    <!-- Header -->
                    <header class="card-header py-3 px-5">
                        <div class="text-right">
    
                            <button type="button" class="close" aria-label="Close"
                                    onclick="Custombox.modal.close();">
                        <span aria-hidden="true">
                            <i class="fal fas fa-times"></i>
                        </span>
                            </button>
                        </div>
                    </header>
                    <!-- End Header -->
    
                    <!-- Body -->
                    <div class="card-body p-5">
                        {% if item.Image %}
                        <img src="{{ item.Image }}"/>
                        {% endif %}
                        {% if notitemice.Text %}
                        {{ item.Text }}
                        {% endif %}
                    </div>
                    <!-- End Body -->
    
                    <!-- Footer -->
                    <div class="card-footer d-flex justify-content-end">
                        <button type="button" class="btn btn-sm btn-soft-secondary transition-3d-hover"
                                onclick="Custombox.modal.close();">Close
                        </button>
                    </div>
                    <!-- End Footer -->
                </div>
            </div>
            </div>
    
            <!-- End After Some Time Modal -->
            {% endif %}
      {% endif %}
    {% endfor %}
    