---
title: Newsroom
description: >-
  We provide expertise in reducing preventable disease; we educate to advance
  immunization practice; and we advocate for public policy to increase
  vaccination coverage.
keywords:
layout: sub-page
permalink: newsroom
banner-image: /assets/img/newsroom/screen-shot-2022-10-15-at-5-11-18-pm.png
---
<div class="container space-1 space-lg-2">
		<div class="w-md-100 mx-md-auto">
				<h2 class="h1 font-weight-semi-bold immunizetitle text-center text-primary editable">
				  NEWSROOM
				</h2>
		</div>
	</div>
		<!-- News Section -->
		<div class="container">
		<div class="row">
				{% for post in site.posts -%}
				 <div class="col-md-12 {% if forloop.last %}mb-5{% endif %}"> 
					<!-- Blog News -->
					  <article class="h-100">
						
						<div class="card-body px-5 pb-0">
						   <a href="{{ post.url | absolute_url }}"><h4 class="font-weight-semi-bold immunizetitle text-primary">{{ post.title }}</h4></a>
						   <div class="d-flex">
						   <h6 class="font-size-1">{{ post.source }}</h6> <h6 class="{% if post.source %}ml-2{% endif %} font-size-1"> {{post.date | date: "%b %-d %Y"}}</h6>
						   </div>
							<p>{{ post.content | strip | strip_html | truncatewords:25 }} </p>
						</div>
						<div class="card-footer border-0 pb-5 px-5 pt-0">
								<a href="{{ post.url | absolute_url }}" class="text-primary">Read More
									<small class="fas fa-arrow-right ml-1"></small>
								</a>
							</div>
					  </article>
					<!-- End Blog News -->
				</div>
			{% endfor %}
			
		</div>
	</div>
