 <footer class="gradient-half-primary-v1">
    <div class="container-fluid p-8">

        <div class="row justify-content-lg-start p-10">
            <div class="col-sm-12 col-lg-5">
                <!-- Logo -->
                <a class="" href="{{ site.baseurl }}">
                    <img src="{{ site.baseurl }}/assets/img/tip-svg-logo-white.svg" style="width: 65%">
                </a>
                <!-- End Logo -->
                <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-4 footer-data">
                    <li class="list-group-item list-group-item-action">
                        <span class="list-group-item-action editable"><b>Email</b> 
                            <a class="list-group-item-action" href="mailto:{{site.data.company_details.email}}">{{site.data.company_details.email}}</a>
                        </span>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <span class="list-group-item-action editable"><b>Address</b> {{site.data.company_details.address}} </span>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <span class="list-group-item-action editable"><b>Phone</b> <a class="phone" href="tel:{{site.data.company_details.contact-phone}}">{{site.data.company_details.contact-phone}}</a>
                        </span>
                    </li>
                    
                </ul>
                <p class="editable font-size-1 text-white-70">The Immunization Partnership is a 501(c)(3) non-profit organization. Donations made to this organization are fully deductible to the extent allowed by law.<br/>  © Copyright {{ 'now' | date: '%Y' }} All Rights Reserved. | Site by <a href="https://accoladesit.com" target="_blank" title="Accolades - Website Design Lafayette Louisiana"
                                           class="text-white-70">Accolades IT</a></p>
               
                
            </div>
            <div class="col-md-6 col-sm-12 ml-lg-auto">
                <div class="row">
                <div class="col-12 pl-0">
                <h3 class="h4 font-weight-bold text-white editable">Join Us</h3>
                </div>
                </div>
                <div class="row mb-3">
                <!-- Input Card -->
                      <input type="text" class="form-control mb-3 col-5 mr-1" placeholder="First Name" aria-label="First Name">
                      <input type="text" class="form-control mb-3 col-5" placeholder="Last Name" aria-label="Last Name">
                      <input type="text" class="form-control mb-3 col-5 mr-1" placeholder="Email" aria-label="email">
                      <input type="text" class="form-control mb-3 col-5" placeholder="zip Code" aria-label="Zipcode">
                </div>
                <div class="row">
                    <div class="col-12 pl-0">
                    <button type="button" class="btn btn-primary btn-pill btn-sm-wide">Submit</button>
                    </div>
                </div>
                  </div>
                  <!-- End Input Card -->
                </div>
            </div>

        </div>

    </div>
</footer>