 <footer class="gradient-half-primary-v1 mt-5">
    <div class="container py-lg-8 py-6">

        <div class="row justify-content-lg-start px-lg-10 p-1">
            <div class="col-sm-12 col-lg-6">
                <div class="row">
                    <div class="col-md-12">
                <!-- Logo -->
                <a href="/">
                    <img src="{{ site.baseurl }}{{site.data.company_details.white_logo}}" class="pb-2 img-fluid w-65" />
                </a>
                <div class="col-9 pl-0">
                <div class="row mt-4 font-size-1">
                <div class="col-md-3">
                   <b class="text-white">EMAIL</b>
                </div>
                <div class="col-md-9">
                    <a class="text-white-70" href="mailto:{{site.data.company_details.email}}"> {{site.data.company_details.email}}</a>
                </div>
                </div>
                <div class="row mt-2 font-size-1">
                <div class="col-md-3">
                  <b class="text-white">ADDRESS</b> 
                </div>
                <div class="col-md-9">
                  <span class="text-white">{{site.data.company_details.address}}</span>
                </div>
                </div>
                <div class="row mt-2 font-size-1">
                <div class="col-md-3">
                    <b class="text-white">PHONE</b>
                </div>
                <div class="col-md-9">
                    <a class="phone text-white" href="tel:{{site.data.company_details.contact-phone}}"> {{site.data.company_details.contact-phone}}</a>
                </div>   
                </div>
                    <ul class="list-inline mb-0 mt-3 ml-0"> 
                    {% for item in site.data.company_details.social %} 
                    <li class="list-inline-item"> 
                        <a class="btn btn-sm btn-icon text-white btn-bg-transparent mr-3"  style="width:1.5em" href="{{item.link}}"> 
                            <span class="fab {{item.icon}} btn-icon__inner fa-2x"></span> 
                        </a> 
                    </li> 
                    {% endfor %}  
                </ul> 
                </div>
                    </div>
            </div>
            </div>
            <div class="col-md-6 col-sm-12 ml-lg-auto mt-5 mt-md-0">
                <div class="row">
                <div class="col-12 pl-0">
                <h3 class="h4 font-weight-bold text-white editable">Join Us</h3>
                </div>
                </div>
            <div class="row mb-3">
                <!-- Input Card -->
                {% comment %}
                      <input type="text" class="form-control mb-3 col-5 mr-1" placeholder="Full Name" aria-label="Full Name" />
                      <input type="text" class="form-control mb-3 col-5" placeholder="Email" aria-label="Email" />
                      <input type="text" class="form-control mb-3 col-5 mr-1" placeholder="Zip Code" aria-label="Zip Code" />
                      <button type="button" class="btn btn-success btn-pill btn-sm-wide col-5" style="height:3.25em">Join Us</button>
                      {% endcomment %}
                      <a href="https://immunizeusa.salsalabs.org/mailinglistsign-up/index.html" target="_blank" class="btn btn-success btn-pill btn-sm-wide col-5">Newsletter Signup</a>
                </div>
            <div class="row">
                    <div class="d-flex">
                    <p class="editable text-white-70 col-md-8 px-0 copywrite">The Immunization Partnership is a 501(c)(3) non-profit organization. Donations made to this organization are fully deductible to the extent allowed by law.<br />  © Copyright {{ 'now' | date: '%Y' }} All Rights Reserved. | Site by <a href="https://accoladesit.com" target="_blank" title="Accolades - Website Design Lafayette Louisiana" class="text-white-70">Accolades IT</a></p>
                    <div class="col-md-4 px-0 mb-2"><img src="/assets/img/goldstar.svg" class="img-fluid w-25"/></div>
                    </div>
                </div>
            </div>
                 <!-- End Input Card -->
                </div>
            </div>

        

    
</footer>