<html lang="en" class="no-js"
      data-shipping-options-url="/checkout/shipping-options/"
      data-checkout-summary-url="/checkout/dropdown/">
<head>
   <!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-1YSZQZ1RG8"></script> <script>  window.dataLayer = window.dataLayer || [];  function gtag(){dataLayer.push(arguments);}  gtag('js', new Date());  gtag('config', 'G-1YSZQZ1RG8'); </script>
       <meta charset="utf-8">
       
       
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
       <!-- Favicon -->
       <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/icons/favicon.ico">
   
       <!-- Google Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
       <!-- CSS Implementing Plugins -->
       <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-iKbFRxucmOHIcpWdX9NTZ5WETOPm0Goy0WmfyNcl52qSYtc2Buk0NCe6jU1sWWNB" crossorigin="anonymous">
       <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/animate.css/animate.min.css">
       <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/hs-megamenu/src/hs.megamenu.css">
       <link rel="stylesheet"
             href="{{ site.baseurl }}/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
       <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/fancybox/jquery.fancybox.css">
       <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/slick-carousel/slick/slick.css">
       <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/chartist/dist/chartist.min.css">
       <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/chartist-js-tooltip/chartist-plugin-tooltip.css">
       <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/cubeportfolio/css/cubeportfolio.min.css">
       <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/custombox/dist/custombox.min.css">
       <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/flatpickr/dist/flatpickr.min.css">
       <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/dzsparallaxer/dzsparallaxer.css">
       <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
       <!-- CSS custom Template -->
       <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/theme.css">
       <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">
       <link rel="stylesheet" href="https://use.typekit.net/wiq1vvn.css">

    <script async src="https://cse.google.com/cse.js?cx=008065795221649664526:wu_ytse77vq"></script>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '211814435920978',
                xfbml: true,
                version: 'v2.8'
            });
        };
    
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>