    <header id="header" class="u-header u-header--abs-top-md  u-header--show-hide-md"
        data-header-fix-moment="500"
        data-header-fix-effect="slide">
    <!-- Search -->
    <div id="searchPushTop" class="u-search-push-top">
        <div class="container position-relative">
            <div class="u-search-push-top__content">
                <!-- Close Button -->
                <button type="button" class="close u-search-push-top__close-btn"
                        aria-haspopup="true"
                        aria-expanded="false"
                        aria-controls="searchPushTop"
                        data-unfold-type="jquery-slide"
                        data-unfold-target="#searchPushTop">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- End Close Button -->

                <!-- Input -->
                <div class="gcse-search" data-enableHistory="false"></div>
                <!-- End Input -->

            </div>
        </div>
    </div>
    <!-- End Search -->
    
  

    <div class="u-header__section">
   
            <!-- Topbar -->
          <div class="container u-header__hide-content pt-2">
                <div class="d-flex align-items-center">
            
          
                
          
                  <ul class="list-inline ml-auto mb-0">
                 <!-- Search -->
                 <li class="list-inline-item">
                   <a class="btn btn-xs btn-icon btn-text-secondary target-of-invoker-has-unfolds" href="javascript:;" role="button" aria-haspopup="true" aria-expanded="false" aria-controls="searchPushTop" data-unfold-type="jquery-slide" data-unfold-target="#searchPushTop">
                     <span class="fas fa-search btn-icon__inner"></span>
                   </a>
                 </li>
                 <!-- End Search -->
      
                 <!-- Shopping Cart -->
                 <li class="list-inline-item position-relative">
                   <a  class="btn btn-xs btn-icon btn-text-secondary"  data-toggle="tooltip" data-placement="top" title="Courses" href="products/collection/courses-1">
                     <span class="fas fa-book btn-icon__inner"></span>
                   </a>
      
                   <div id="shoppingCartDropdown" class="dropdown-menu dropdown-unfold dropdown-menu-right text-center p-7 u-unfold--css-animation u-unfold--hidden" aria-labelledby="shoppingCartDropdownInvoker" style="min-width: 250px; animation-duration: 300ms; right: 0px;">
                     <span class="btn btn-icon btn-soft-primary rounded-circle mb-3">
                       <span class="fas fa-shopping-basket btn-icon__inner"></span>
                     </span>
                     <span class="d-block">Your Cart is Empty</span>
                   </div>
                 </li>
                 <!-- End Shopping Cart -->
      
                 <!-- Account Login -->
                 
                 <li class="list-inline-item position-relative">
                      <a href="account/login" class="btn btn-xs btn-icon"><sopan class="fa fa-user btn-icon__inner "
                                                                            aria-hidden="true"></span></a>
                  </li>
      
              
               
                 <!-- End Account Login -->
               </ul>
             </div>
           </div>
           <!-- End Topbar -->
        <div id="logoAndNav" class="container">
            <!-- Nav -->
            <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
                <!-- Logo -->
                <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center"
                   href="/">
                    <img src="{{ site.baseurl }}/assets/img/tip.svg">
                </a>
                <!-- End Logo -->

                <!-- Responsive Toggle Button -->
                <button type="button" class="navbar-toggler btn u-hamburger"
                        aria-label="Toggle navigation"
                        aria-expanded="false"
                        aria-controls="navBar"
                        data-toggle="collapse"
                        data-target="#navBar">
        <span id="hamburgerTrigger" class="u-hamburger__box">
          <span class="u-hamburger__inner"></span>
        </span>
                </button>
                <!-- End Responsive Toggle Button -->

                <!-- Navigation -->
                <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
                    <ul class="navbar-nav u-header__navbar-nav">
                        <!-- Home -->
                        <li class="nav-item  u-header__nav-item">
                            <a class="nav-link u-header__nav-link" href="{{ site.baseurl }}/">Home</a>
                        </li>
                        <!-- End Home -->

                        <!-- About -->
                        <li class="nav-item u-header__nav-item">
                            <a class="nav-link u-header__nav-link" href="{{ site.baseurl }}/about">About Us</a>
                        </li>
                        <!-- End About -->

                        <!-- Covid -->
                        <li class="nav-item u-header__nav-item">
                            <a class="nav-link u-header__nav-link" href="{{ site.baseurl }}/covid">COVID-19</a>
                        </li>
                        <!-- End Covid -->

                        <!-- Advocacy -->
                        <li class="nav-item  u-header__nav-item">
                            <a class="nav-link u-header__nav-link" href="{{ site.baseurl }}/advocacy">Advocacy</a>
                        </li>
                        <!-- End Advocacy -->

                        <!-- Impact -->
                        <li class="nav-item  u-header__nav-item">
                            <a class="nav-link u-header__nav-link" href="{{ site.baseurl }}/impact">Impact</a>
                        </li>
                        <!-- End Impact -->

                        <!-- Get Involved -->
                        <li class="nav-item  u-header__nav-item">
                            <a class="nav-link u-header__nav-link" href="{{ site.baseurl }}/getinvolved">Get Involved</a>
                        </li>
                        <!-- End Get Involved -->

                        <!-- Our Partners -->
                        <li class="nav-item  u-header__nav-item">
                            <a class="nav-link u-header__nav-link" href="{{ site.baseurl }}/partners">Our Partners</a>
                        </li>
                        <!-- End Our Partners -->

                        <!-- Donate -->
                       <li class="list-inline-item position-relative">  <a class="btn btn-sm btn-outline-success" href="{{ site.baseurl }}/donate">
                           Donate
                       </a>
                       </li>
                        <!-- End Donate page -->

                      
                    </ul>
                </div>
                <!-- End Navigation -->
            </nav>
            <!-- End Nav -->
        </div>
    </div>
</header>