 <!-- JS Global Compulsory -->
    <script src="{% include relative-src.html src=item.url %}/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="{% include relative-src.html src=item.url %}/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/vendor/appear.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/vendor/svg-injector/dist/svg-injector.min.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/vendor/custombox/dist/custombox.min.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/vendor/custombox/dist/custombox.legacy.min.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/vendor/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/vendor/clipboard/dist/clipboard.min.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/vendor/slick-carousel/slick/slick.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/vendor/circles/circles.min.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/vendor/player.js/dist/player.min.js"></script>
    <!-- JS -->
    <script src="{% include relative-src.html src=item.url %}/assets/js/hs.core.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/js/components/hs.header.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/js/components/hs.unfold.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/js/components/hs.focus-state.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/js/components/hs.go-to.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/js/components/hs.malihu-scrollbar.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/js/components/hs.show-animation.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/js/components/hs.svg-injector.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/js/components/hs.modal-window.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/js/components/hs.validation.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/js/components/hs.step-form.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/js/components/hs.show-animation.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/js/components/hs.selectpicker.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/js/components/hs.range-datepicker.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/js/components/hs.clipboard.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/js/components/hs.svg-injector.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/js/components/hs.slick-carousel.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/js/components/hs.chart-pie.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/js/components/hs.video-player.js"></script>
    <script src="{% include relative-src.html src=item.url %}/assets/js/theme-custom.js"></script>
 <script>
         function immunizeCloseModal(cookieValue) {
             Custombox.modal.close();
             date = new Date();
             date.setTime(date.getTime() + (31 * 24 * 60 * 60 * 1000));
             expires = "; expires=" + date.toGMTString();
             document.cookie = cookieValue + expires + "; path=/";
         }
     </script>
 
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.10.0/dist/sweetalert2.all.min.js"></script>
 
