<div class="container space-2 px-lg-7" style="margin-top: 0% !important">
        <div class="row justify-content-center">

                <div class="col-md-6 col-12">
                        <h2 class="h2 immunizetitle text-primary text-left editable font-weight-semi-bold">
                                {{ include.left.left_title }}
                        </h2>


                </div>
                <div class="col-lg-6 col-12">
                        <h2 class="h2 text-primary text-left editable font-weight-semi-bold">
                                {{ include.right.right_title }}
                        </h2>
                        <p>
                                {{ include.right.text }}
                        </p>
                </div>
        </div>

</div>