<div class="p-lg-2 pt-md-0 editable card shadow bg-soft-primary rounded-lg">
    <img class="card-img-top max-h-225" src="{{ include.image }}" />
    <div class="card-body">
        <a href="{{ include.link.src }}"><h3 class="font-weight-semi-bold immunizetitle text-primary">{{ include.title }}</h3></a>
        <p>{{ include.text }}</p>
    </div>
    <div class="card-footer bg-transparent border-0">
        <a href="{{ include.link.src }}" class="text-success font-weight-bold bottom-0 position-absolute py-2">{{ include.link.link_text }}
            <small class="fas fa-arrow-right ml-1"></small>
        </a>
    </div>
</div>
