{% assign c = "c-background-image-section" %}
<div class="container-fluid {% if include.space-top %} mt-9 {% endif %} bg-primary px-0">
    <div class="{{ c }} bg-img-hero" style="background: url('{{ include.image }}');{% if include.contain == true%}background-size:contain !important;background-repeat:no-repeat;{% else %} background-size:cover;{% endif %}{% if include.colored_background == true%}background-color:{{include.background_color}} !important;{% endif %} background-position: center">

        {% if include.button %}
        <div class="container space-1">
            <div class="row text-center">
                <div class="col-8 pt-8 mx-auto {% if include.disable-button == true %}pb-11 mb-4{% endif %}">
                    <h1 class="{{ c }}__text mb-0 immunizetitle text-white text-shadow text-center">
                       {{ include.text }}
                    </h1>
                </div>
            </div>
            <div class="row text-center {% if include.disable-button == true %} d-none{% endif %}">
                <div class="col-8 pb-8 mx-auto mt-3">
                        {% bookshop generic/button-link bind=include.button %}
                </div>
            </div>
        </div>
        {% else %} 
        <div class="container space-1">
            <div class="row text-center space-3">
                <div class="col-8 mx-auto">
                    <h1 class="mb-0 immunizetitle text-white text-shadow text-center">
                       {{ include.text }}
                    </h1>
                </div>
            </div>
        </div>

        {% endif %}

    </div>
</div>
