---
layout: default
archive: false
description: 
keywords: 
pagename: post
permalink: ":title/"
---
  {% assign author = site.authors[page.author] %}
  <div class="container space-top-3 space-bottom-1">
  <div class="w-lg-80 mx-lg-auto">
    <div class="card p-7">
    <div class="my-2">
                   <h2 class="h1 font-weight-semi-bold immunizetitle text-center text-primary">  {{ page.title }} </h2>
    </div>
    <div class="my-2">
                    
                        <img class="img-fluid col-12" alt="Mobi vs. The Shield " src="{{ page.image }}" />
                     
    </div>
    {{content}}
    <div class="article__share text-center ">
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5eb9921f24e43acc"></script>
        <h6 class="pb-3 font-weight-bold"> Share this </h6><div class="addthis_inline_share_toolbox"></div>
    </div>
  </div>
  </div>
  </div>
   