
<div class="row justify-content-center space-1 c-become-a-partner-form">
    <div class="col-12">
        <form action="/success" method="POST" enctype="multipart/form-data" id="immunize-partner">
            <div class="row">
                <!-- Input -->
                <div class="col-sm-6 mb-6">
                    <div class="js-form-message">
                        <label>FIRST NAME</label> <input type="text" name="first_name" maxlength="100" class="form-control" required />
                    </div>
                </div>
                <!-- End Input -->

                <!-- Input -->
                <div class="col-sm-6 mb-6">
                    <div class="js-form-message">
                        <label>LAST NAME</label> <input type="text" name="last_name" maxlength="100" class="form-control" required />
                    </div>
                </div>
                <!-- End Input -->

                <!-- Input -->
                <div class="col-sm-6 mb-6">
                    <div class="js-form-message">
                        <label>TITLE</label> <input type="text" name="title" maxlength="100" class="form-control" required />
                    </div>
                </div>
                <!-- End Input -->

                <!-- Input -->
                <div class="col-sm-6 mb-6">
                    <div class="js-form-message">
                        <label>EMAIL</label> <input type="email" name="email" maxlength="80" class="form-control" required />
                    </div>
                </div>
                <!-- End Input -->

                <!-- Input -->
                <div class="col-sm-6 mb-6">
                    <div class="js-form-message">
                        <label>PHONE</label> <input type="text" name="phone" maxlength="20" class="form-control" required />
                    </div>
                </div>
                <!-- End Input -->

                <!-- Input -->
                <div class="col-sm-6 mb-6">
                    <div class="js-form-message">
                        <label>COMPANY NAME</label> <input type="text" name="company_name" maxlength="200" class="form-control" required />
                    </div>
                </div>
                <!-- End Input -->

                <!-- Input -->
                <div class="col-sm-6 mb-6">
                    <div class="js-form-message">
                        <label>COMPANY WEBSITE</label> <input type="url" name="company_website" maxlength="150" class="form-control" required />
                    </div>
                </div>
                <!-- End Input -->

                <!-- Input -->
                <div class="col-sm-6 mb-6">
                    <div class="js-form-message">
                        <label>COMPANY ENTITY</label>

                    </div>
                    <select name="co_entity" class="form-group js-select selectpicker dropdown-select w-100 h-60 mb-0" data-style="btn-sm btn-secondary h-100" title="Choose Entity">
                              <option>Association</option>
                              <option>Coalition</option>
                              <option>Community Organization</option>
                              <option>Corporate</option>
                              <option>Foundation</option>
                              <option>Government</option>
                              <option>Hospital</option>
                              <option>Insurance Provider</option>
                              <option>School</option>
                              <option>Other</option>
                            </select>
                </div>
                <!-- End Input -->
                <!-- Input -->
                <div class="col-sm-6 mb-6">
                    <div class="js-form-message">
                        <label>CITY</label> <input type="text" name="city" maxlength="100" class="form-control" required />
                    </div>
                </div>
                <!-- End Input -->

                <!-- Input -->
                <div class="col-sm-6 mb-6">
                    <div class="js-form-message">
                        <label>ZIP CODE</label> <input type="number" name="zip" maxlength="5" class="form-control" required />
                    </div>
                </div>
                <!-- End Input -->
            </div>
            <input type="hidden" name="inbox_key" value="immunize-partner" />
            <input type="hidden" name="_to" value="carlos@accoladesit.com" />
            <input type="text" name="_gotcha" style="display: none;" />
            <div class="text-center">
                <button type="submit" class="btn btn-secondary btn-wide transition-3d-hover mb-4">Submit</button>
            </div>
        </form>
    </div>
</div>